node_modules
.env
coverage
coverage.json
typechain
typechain-types
deployments
.prettierrc.json
test

# Hardhat files
cache
artifacts


# tmp file 

tmp.txt
.tmp
remix.sh

migrations/
package-lock.json
test

.states
build/
goabi/
*.sh
gen_abi.sh
remix-compiler.config.js
.deps/
DeployParameters.json
verified-sources/

compiler_config.json
contracts/FILPot.sol
yarn.lock
MockMiner.sol